* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

.header {
    padding-top: 51px;
    padding-bottom: 41px;
}

.header__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container {
    max-width: 1110px;
    margin: 0 auto;
}

.header__logo {
    display: flex;
    align-items: center;
    gap: 15px;
}

.header__logo-text {
    font-size: 16px;
    font-weight: 500;
}

.header__list {
    display: flex;
    list-style: none;
    gap: 45px;
}

.header__item a {
    text-decoration: none;
    font-size: 15px;
    color: #000;
}

.header__phone {
    display: flex;
    align-items: center;
}

.header__phone-text {
    font-size: 15px;
    margin-left: 15px;
}

.header__button {
    background: none;
    border: none;
    cursor: pointer;
}

.first__swiper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.first__left,
.first__right {
    flex: 1;
}

.first__title {
    font-size: 55px;
    font-weight: 500;
    margin-bottom: 45px;
}

.first__subtitle {
    width: 370px;
    text-align: right;
    margin-bottom: 50px;
}

.first__button {
    display: flex;
    align-items: center;
    width: 310px;
    height: 68px;
    background: none;
    border: none;
    cursor: pointer;
    margin-left: 60px
}

.first__button-arrow {
    width: 68px;
    background: rgba(110, 156, 159, 0.1);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.first__button-text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    background: #6E9C9F;
    height: 100%;
    font-size: 17px;
    color: #FFFFFF;
}

.first__right {
    position: relative;
}

.first__image-two {
    position: absolute;
    bottom: -60px;
    left: -70px;
}

.first__image-three {
    position: absolute;
    top: 100px;
    right: 0;
}

.first__image {
    margin-left: 50px;
}

.first__pagination {
    display: flex;
    gap: 12px;
    margin-top: 100px;
    position: relative !important;
    top: -100px !important;
    left: 250px !important;
}

.swiper-pagination-bullet {
    width: 30px !important;
    height: 4px !important;
    background: #D1D1D1 !important;
    border-radius: 0px;
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background: #000 !important;
}

.background {
    position: absolute;
    background: #F1EADC;
    width: 720px;
    height: 826px;
    z-index: -1;
    top: 0;
    right: 0;
}